@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color */
    --white-color-700: #f8fafc;
    --blue-color-700: #3960c5;
    --purple-color-700: #63369c;
  }
}
